*{
    margin: 20;
    padding: 20;
    box-sizing: border-box;
}
header{
    padding: 0.5rem;
    text-align: center;
}
.gradient{
    background-image: radial-gradient(black, grey, white);
    height: 50px;
    width: 1330px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.negro{
    background-color: black;
    height: 50px;
    width: 1330px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.center{
    text-align: center;
    z-index: -1;
}
.centerimg1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.5s ease;
}
.centerimg1:hover{
    transform: translateX(300px);
}
.centerimg2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 1s ease
}
.centerimg2:hover{
    transform:scale(2.2,2.2) ;
}
.centerimg3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.5s ease;
}
.centerimg3:hover{
    transform: translateX(-300px);
}    
.padre{
    width: 95%;
    margin: 10px auto;
    height: 500px;
    display: grid;
    gap: 80px;
    grid-template-columns: repeat (3, 1fr);
    grid-template-areas: 
        "dejun deoct expo";
}
.dejun{
    grid-area: dejun;
    margin: 5%;
    width: 300px;
    height: 400px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    overflow: auto;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
    padding: 1%;
}
.deoct{
    grid-area: deoct;
    margin: 5%;
    width: 300px;
    height: 400px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    overflow: auto;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
    padding: 1%;
}
.expo{
    grid-area: expo;
    margin: 5%;
    width: 300px;
    height: 400px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    overflow: auto;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
    padding: 1%;
}
.susc{    
    width: 95%;
    margin: 10px auto;
    height: 500px;
    justify-self: center;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat (3, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: 
        "nombres"
        "main"
        "coment";
}
.nombres{
    grid-area: nombres
}
.main{
    grid-area: main;
}
.coment{
    grid-area: coment;
}
h5{
    margin: 1rem;
    text-align: center;
}
h2{
    text-align: center
}